@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&display=swap');

/* font-family: 'Rubik', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.prymary-t {
    font-family: 'Rubik', sans-serif;
    font-size: 21px;
    font-weight: 600;
    /* max-width: 50%; */
}

.nd2 {
    display: flex;
    gap: 50px;
    padding-right: 4%;
    /* max-width: 50%; */
}

.nd2 li {
    list-style: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.navigation {
    display: flex;
    justify-content: space-between;
    min-height: 130px;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

.nd1 {
    padding-left: 4%;
}

/* nav half ends */
.section {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section div h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 33px;
    font-weight: 900;
}

.section div p {
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
    margin-top: 3.75%;
    margin-bottom: 3.5%;
}

.section div button {
    background-color: #e72083;
    color: white;
    border: 0;
    padding: 6px 13px 5px 12px;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    border-radius: 15px 15px 15px 15px;
}

.imgdiv {
    position: relative;
    margin-right: 3%;
}

.text {
    margin-left: 3%;
}

.cam {
    position: absolute;
    top: 9%;
}














@media screen and (max-width:576px) {

    .navigation {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .nd2 {
        gap: 15px;
    }
    .section {
        flex-direction: column-reverse;
    }

    .imgdiv {
        width: 70%;
        margin: 0 auto;
    }

    .cam {
        width: 100%;
    }

    .circle {
        width: 100%;
    }
}